 header {
     background-color:#FFF9F4;
 }
 h1 {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
 }
 span {
     color: #FA804C;;
 }
 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    color: #3E3E3E;
 }